spring:
  main:
    banner-mode: off
  sql:
    init:
      mode: always
      platform: h2
  datasource:
    url: jdbc:h2:file:./db/filmorate;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=CREATE SCHEMA IF NOT EXISTS PUBLIC
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.zalando.logbook: TRACE
    ru.yandex.practicum.filmorate: DEBUG
